
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 300;
}
body{
    font-family: Roboto;
    font-weight: 300;
    margin:0;
}
h1, h3 {
    color: #4B4949;
    text-align: center;
}
h2 {
    color: #4B4949;
}
p {
    color: #000000;
    line-height: 1.8 ;
}


.header {
    background: url('../images/createquiz.png') no-repeat scroll center top transparent;
    background-size: cover;
    height: 60px;
    background-position: left;
}​

/* menu bar */
.menu {
    overflow: hidden;
}     
.menu a{
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;    
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #E5E5E5;
    color: #FFFFFF;
}