@font-face {
font-family: 'Tahoma';
font-style: normal;
font-weight: 300;
}
body{
    font-family: Roboto;
    font-weight: 300;
    margin:0;
}
h1, h3 {
    color: #4B4949;
    text-align: center;
}
h2 {
    color: #4B4949;
}
p {
    color: #000000;
    line-height: 1.8 ;
}


.header {
    background: url('../images/main.png') no-repeat scroll center top transparent;
    height: 500px;
    width: 100%;
    z-index: 0;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center 0px;
}​

/* menu bar */
.menu {
    overflow: hidden;
    background-color: #333;
}     
.menu a{
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;    
}
/* image specifications */
img{
    width: 320px;
    height: 220px;
    box-sizing: border-box;
    border-radius: 8px;
    background-repeat:no-repeat;
    background-size:cover;
    background-origin:padding-box;
    background-position:center;
}
/* first section */
#study1 {
    float: left ;
}
#mission{
    float: left;
}

#ourmission {
    width: 1000px ;
    max-width: 100% ;
    margin-left: auto ;
    margin-right: auto ;
}
/* second section */
#study2 {
    float: left ;
}
#programs{
    float: left;
}
#programswemake {
    width: 1100px ;
    max-width: 100% ;
    margin-left: auto ;
    margin-right: auto ;
}
/* third section */
#study3 {
    float: left ;
}
#motive{
    float: left;
}
#ourmotive {
    width: 1000px ;
    max-width: 100% ;
    margin-left: auto ;
    margin-right: auto ;
}

footer {
text-align: center;
padding: 3px;
background-color: #E5E5E5;
color: #FFFFFF;
}