@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 300;
}
/* global stuff */
html, body {
    font-family: Roboto;
    font-weight: 300;
    margin: 0;
    height: 100%;
}

h1, h3 {
    color: #4B4949;
    text-align: center;
    display: inline;
}

h2 {
    color: #4B4949;
}

p {
    color: #000000;
    line-height: 1.8;
}
/* classes */
/* in order of first use  */
.menu {
    overflow: hidden;
    background-color: #21345f;
}

.menu a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.disabled {
    cursor: not-allowed;
    background-color: #dddddd !important;
}

.movementBtns {
    height: 50px;
    margin: auto;
    width: 50px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background-color: #bbbbbb;
}

.movementBtns:hover {
    background-color: #999999;
}

.movementBtns:active {
    background-color: #777777;
}

/* ids */
/* in order of use  */

#info {
    width: 48%;
    margin: auto;
    margin-top: 50px;
}

#interactiveArea {
    width: 60%;
    margin: auto;
    align-content: center;
}

#centralArea {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
}


#card {
    margin: auto;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    height: 25vh;
    box-shadow: 0px 0px 10px #00000066;
}


footer {
    height: 75px;
    text-align: center;
    padding: 3px;
    margin-top: 100px;
    background-color: #E5E5E5;
    color: #FFFFFF;
}